body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  overflow-x: hidden
}

textarea{
  resize: none;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}